.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    

}
.addMore-btn:hover{
    background-color: #07284B;
    color: #fff !important;
}
.UncheckedBtn{
   
        background-color: #efd7da;
        color: #fff;
        font-size: 30px;
        color: "#fff";
        border-radius: 3px;
        padding: 6px;
        cursor: "pointer";
    
}
.checkedBtn{
     color: rgb(221, 0, 0);
     background-color: #efd7da;
     font-size: 30px;
     border-radius: 3px;
     padding: 6px;
     cursor: pointer;
     background-color: #b3f3c966;
}
.partiallyCheckedBtn{
    color: rgb(221, 0, 0);
     background-color: #efd7da;
     font-size: 30px;
     border-radius: 3px;
     padding: 6px;
     cursor: pointer;
     background-color: #b3f3c966;

}