
@media only screen and (min-width: 1600px) {
    .login-media {

        width: 100% !important;
    }
  }

.input-color::placeholder{
 
        color: #07284B;
        opacity: 1;
        font-weight: 500;
}