.navbar-container{
    
        display: flex;
        justify-content: end;
        align-items: center;
        z-index: 1;
        position: sticky !important;
        top: 0 !important;
        width: 100% !important;
}
.user-logout{
        transform:rotate(267deg);
        cursor: pointer;
    }
.logo-section{

        font-size: 2.3rem;
    }
    .arrow-profile{
            display: none !important;
    }
.drop-down{

    z-index: 1;
}
.logout-btn{
    padding: 21px !important;
    background-color: antiquewhite !important;
}
.navbar-dropbtn{
    color: #0f0404;
    font-size: 25px;
    font-weight: bold;
    margin-top: -15px ;
}
.user-profile{
    cursor: pointer !important;
}

@media only screen and (max-width:500px)
{
    .arrow-profile{
        display: block !important;
        font-size: 25px;
    }
    .user-profile{

        display: none;
    }
    .user-logout{
        display: none;
    }
        
}