/* .card-img-top{
   height:"4rem" !important;
   width:"20%" !important;
   overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
} */
 
.card-style{
   box-shadow: 3px 4px 10px rgba(149, 112, 112, 0.7);
   transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card-style:hover{
   transform: translateY(-10px);
   box-shadow: 0 8px 16px rgba(60, 52, 52, 0.2);

}
 h5::first-letter {
    text-transform: capitalize;
}
.carousel-img{
   /* background-size: cover !important;
   background-repeat: no-repeat !important;
   background-position: center !important;
   height: 100vh !important;
   width: 100% ;
   overflow: hidden !important; */
}
@media  screen and (min-width:2000px) 
{
    .carousel-image{
        height: 1000px !important;
        transition: all 0.8s ease-in-out
    }
    
}