.sub-list{
    font-size: 18px;
    color: #000;
    font-weight: 600 !important;
}
.sub-list.active{
  background-color: #0a5acc!important;
    /* border-bottom: 2px solid #F6790B; */
    color: #fff !important;
    font-weight: 600;
}
.correct-option{

  color: #23bc23 !important;
  
}
.page-data{
  border: 0px !important;
  border-radius: 50% !important;
}
.correct-inputBox{

  color: #23bc23 !important;
  background-color: #23bc23 !important;
  border: 0  !important;
  
}
